accelerate
albumentations
ema-pytorch
einops
ipykernel
# marimo
matplotlib
notebook
numpy
opencv-python
pandas
pillow
pytorch-fid
scikit-image
scikit-learn
scipy
seaborn
tensorboard
torch
torchvision
tqdm
typeguard
uv